soappractice/src/main/mule/soappractice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7a6f0312-378d-4398-856d-36f15280db1e" >
		<http:listener-connection host="localhost" port="8098" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="57556cbb-8cab-4eec-a5d6-37a8895d394d" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soappracticeFlow" doc:id="a0e4a430-17f5-4df1-b0ab-a4aa68428add" >
		<http:listener doc:name="Listener" doc:id="a76bbb7e-46f5-4037-bfb8-cb5579cbe759" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="40" doc:name="Number1" doc:id="15326d4e-44dd-4241-bbb1-4beff66e9352" variableName="num1"/>
		<set-variable value="50" doc:name="Number2" doc:id="ded1a5a9-93f5-497a-81c7-4477be01b500" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="1233613e-d4a3-4c98-8d92-75b577544f83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:id="0c9b32c7-d1ef-45f2-b77e-18fab94863bb" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="eb1e64d1-371c-49ab-ac6d-e7a3b3d83fd4" message="#[payload]"/>
	</flow>
</mule>
