soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0d731f06-5ee9-4306-9fa2-ced863153b20" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8bff2881-a332-4614-9a0e-6010d71af02c" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="ac4afd4d-660e-4bcf-8edf-d2bc13d5518e" >
		<http:listener doc:name="Listener" doc:id="b02edc6f-41e5-4a25-a249-78eb620584e7" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="30" doc:name="Number1" doc:id="0f517e99-d2aa-4f8a-875d-b15db103f984" variableName="num1"/>
		<set-variable value="50" doc:name="Number2" doc:id="5c391a0d-f7a1-465e-86ff-c1668b2947fa" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="a3068140-d865-4b43-8c3b-60a6a0f78432" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/Xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	},
	ns0#subtract: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Subtract" doc:id="1004cd1e-634f-45e0-9618-a7d1dab351d7" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="ed4051e7-e621-4767-8a9d-7476ae655b6c" message="#[payload]"/>
	</flow>
</mule>
